<ul>
    <li><a href="/cheatsheet">A cheatsheet</a> (PDF or ODS) by Vladimir Lettiev
    (thecrux)</li>
    <li><a href="https://p3rl.org/Dancer2::Manual">Dancer2::Manual</a>
    - a gentle introduction to Dancer2</li>
    <li><a href="https://p3rl.org/Dancer2::Tutorial">Dancer2::Tutorial</a> - a
    walkthrough creating an example application</a></li>
    <li><a href="https://p3rl.org/Dancer2::Manual::Cookbook">Dancer2::Manual::Cookbook</a> -
    examples for achieving common tasks with Dancer2</li>
    <li><a href="https://p3rl.org/Dancer2::Manual::Keywords">Dancer2::Manual::Keywords</a> - a guide
    listing all the Dancer DSL keywords</li>
    <li><a href="https://p3rl.org/Dancer2::Manual::Plugins">Dancer2::Manual::Plugins</a> - a list
    of some recommended plugins to extend Dancer2 with useful features</li>
    <li><a href="https://p3rl.org/Dancer2::Manual::Deployment">Dancer2::Manual::Deployment</a> -
    how to deploy your app</li>
    <li><a href="https://p3rl.org/Task::Dancer2">Task::Dancer2</a> - comprehensive
    list of Dancer2 plugins, template/session/logger engines, etc. on the CPAN </li>
</ul>

