<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="description" content="the famous Google'six lines..." />
	<meta name="keywords" content="" />
	<meta name="author" content="Pixelefant" />
	<meta name="robots" content="index,follow" />
	<meta name="copyright" content="" />

	<link rel="stylesheet" href="/css/style.css" media="screen" />
	<!--[if gte IE 7]>
		<link rel="stylesheet" href="css/styleIE.css" />
	<![endif]-->
</head>
<body>
<!-- START WAPPER HEADER -->
<div id="wrapper-header">
			
	<!-- START HEADER -->
	<div id="header">
	
		<h1><a href="/">Perl Dancer | Perl is fun again</a></h1>
		<h2>The easiest way to write web applications in Perl</h2>

		
		<!-- START NAV LEFT -->
		<ul id="nav-left" class="clearme listreset">
			<li><a href="/home">overview</a></li>
			<li class="nav-sep"></li>
			<li><a href="/quickstart">quick start</a></li>
			<li class="nav-sep"></li>
			<li><a href="/example">examples</a></li>

		</ul>
		<!-- END NAV LEFT -->
		
		<!-- START NAV RIGHT -->
		<ul id="nav-right" class="clearme listreset">
			<li><a href="/documentation">docs</a></li>
			<li class="nav-sep"></li>
			<li><a href="/contribute">contribute</a></li>
			<li class="nav-sep"></li>

			<li><a href="/used_by">dance floor</a></li>
		</ul>
		<!-- END NAV RIGHT -->
			
	</div>
	<!-- END HEADER -->
	
	</div>
	<!-- END WAPPER HEADER -->
	
		
<div id="wrapper-contain">

	
	<div id="contain-top"></div>
	<!-- START MAIN CONTAIN -->
	<div id="contain" class="clearme">
		<% content %>	
	</div>
	<!-- END MAIN CONTAIN -->
	<div id="contain-bottom"></div>

</div>
	

<!-- JAVASCRIPTS CALLING -->	
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script> 
<script src="/javascripts/perlDancer.js"></script>

</body>
</html>
