<h1>Dancer Cheat Sheet</h1>

<p>
<a href="http://blog.truecrux.org/">Vladimir Lettiev (thecrux)</a> kindly
produced a Dancer Cheat Sheet as a quick reference guide to the common Dancer
DSL keywords etc.
</p>

<ul>
<li><a href="/resources/dancer-cheat-sheet.pdf">PDF (94.7KB)</a></li>
<li><a href="/resources/dancer-cheat-sheet.ods">ODS (44.9KB)</a></li>
</ul>

<p>
Many thanks to Vladimir Lettiev for producing this helpful resource!
</p>
