<h3>Companies and Websites Using Dancer</h3>

<p>
These great companies have built applications with Perl Dancer:
</p>
<% FOREACH site = sites.companies %>
    <div class="dancefloor">
        <a href="<% site.url %>"><img src="/images/logos/<% site.logo %>" alt="<% site.title %>" align="center"></a><br />
        <br />
        <p><% site.description %></p>
    </div><br />
<% END %>
<p>
<h3>Other Sites Using Dancer</h3>
<ul>
<% FOREACH site = sites.other_sites %>
    <li><a href="<% site.url %>"><% site.title %></a> - <% site.description %></li>
<% END %>
</ul><br />
<em>If you're using Dancer and would like to be added to this list, please
<a href="/about">contact us</a></em>
</p>
