<h2>Thanks a lot!</h2>

<p>
Your donation has been received, we thank you very much for your support.
</p>

<p>
By doing so, you contributed to the project and helped the development team 
making Dancer a great framework to use for writing lightweight
yet powerful web applications.
</p>

<p>
Thanks! 
</p>

