/*---------------------------------------------------------------------------------------
	CSS RESET (SOFT)
---------------------------------------------------------------------------------------*/
	 body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
	 table { border-collapse:collapse; border-spacing:0; }
	 fieldset, img { border:0; }
	 h1, h2, h3, h4, h5, h6, address, caption { font-style:normal; font-size:100%; font-weight:normal; }
	 caption, th { text-align:left; }
	 ol.listreset, .listreset ol, ul.listreset, .listreset ul, .listreset li { margin:0; padding:0; list-style:none; }


/*---------------------------------------------------------------------------------------
	COMMON DECLARATIONS
---------------------------------------------------------------------------------------*/
html,body{ background: #2a2a2a url(../images/dcr-bkg-body.jpg) 0 0 repeat-x;}
.clearme:after{ content: "."; display: block; visibility: hidden; clear: both; height: 0; font-size: 0.1em; line-height: 0;}


/*---------------------------------------------------------------------------------------
	FONTS DECLARATIONS
---------------------------------------------------------------------------------------*/
@font-face {
	font-family: 'HelveticaNeueLTStd67MediumCon';
	src: url('../fonts/helveticaneueltstd-mdcn-webfont.eot');
	src: local('☺'), url('../fonts/helveticaneueltstd-mdcn-webfont.woff') format('woff'), url('../fonts/helveticaneueltstd-mdcn-webfont.ttf') format('truetype'), url('../fonts/helveticaneueltstd-mdcn-webfont.svg#webfontG1mF8TzI') format('svg');
	font-weight: normal;
	font-style: normal;
}
   
/*---------------------------------------------------------------------------------------
	HEADER
---------------------------------------------------------------------------------------*/
#wrapper-header{
}
	
	#header{
		position: relative;
	 	width: 900px;
	 	height: 200px;
		background: url(/images/header-bg.png) no-repeat top left;
	 	margin: auto;
	}
		
		/*---------------------------------------------------------------------------------------
			HEADER - TITLES
		---------------------------------------------------------------------------------------*/
	
		/*---------------------------------------------------------------------------------------
			HEADER - NAVIGATION
		---------------------------------------------------------------------------------------*/
	 	#nav-left,#nav-right{
	 		position: absolute;
	 		top: 184px;
	 		height: 33px;
	 		background: url(../images/dcr-header-bkg-menu.png) 0 0 no-repeat;
	 	}
	 
	 	#nav-left li,#nav-right li{
	 		float: left;
	 		height: 33px;
	 		text-align: center;
	 	}
	 	
	 	#nav-left li.nav-sep,#nav-right li.nav-sep{
	 		width: 15px;
			background: url(../images/dcr-header-bkg-sepmenu.jpg) center center no-repeat;
	 	}
	 	
	 	#nav-left li a,#nav-right li a{
	 		display: block;
	 		height: 33px;
	 		margin: 0 8px;
	 		font: 17px/33px 'HelveticaNeueLTStd67MediumCon', helvetica, arial, sans-serif;
	 		color: #767676;
	 		letter-spacing: 0.02em;
	 		text-decoration: none;	
	 	}
	 	
	 	#nav-left li a:hover,#nav-right li a:hover{
	 		color: #333;
	 	}
	 
	 	/*---------------------------------------------------------------------------------------
			HEADER - NAVIGATION - LEFT
		---------------------------------------------------------------------------------------*/
	 	#nav-left{
	 		left: 0;
	 		width: 290px;
	 		padding: 0 0 0 10px;
	 	}
	 
	 	/*---------------------------------------------------------------------------------------
			HEADER - NAVIGATION - RIGHT
		---------------------------------------------------------------------------------------*/
	 	#nav-right{
	 		left: 674px;
	 		width: 280px;
	 		padding: 0 0 0 20px;	
	 	}	


/*---------------------------------------------------------------------------------------
	MAIN CONTAIN
---------------------------------------------------------------------------------------*/
#wrapper-contain{
	height: 630px;
	padding: 45px 0 0;
	background: url(../images/dcr-bkg-bottom.jpg) top center no-repeat;
}

#contain-top{
	width: 960px;
	height: 30px;
	margin: auto;
	background: url(../images/dcr-contain-bkg-top.png) 0 0 repeat-y;
}

#contain-bottom{
	width: 960px;
	height: 50px;
	margin: auto;
	background: url(../images/dcr-contain-bkg-bottom.png) 0 0 repeat-y;
}

#contain{
	position: relative;
	width: 880px;
	padding: 0 40px;
	/*
min-height: 300px;
	height:auto !important;
	height: 300px;
*/
	margin: auto;
	background: url(../images/dcr-contain-bkg-middle.png) 0 0 repeat-y;
}



	/*---------------------------------------------------------------------------------------
		CONTAIN - LEFT
	---------------------------------------------------------------------------------------*/
	#contain-left{
		float: left;
		width: 308px;
		padding: 0 30px 0 0;
		border-right: 1px solid #ededed;
	}
	
	/*---------------------------------------------------------------------------------------
		CONTAIN - RIGHT
	---------------------------------------------------------------------------------------*/
	#contain-right{
		float: left;
		width: 510px;
		padding: 0 0 0 30px;
		border-left: 1px solid #b4b4b4;
	}
	

h3{
	color: #285c95;
	font: 30px/45px 'HelveticaNeueLTStd67MediumCon', helvetica, arial, sans-serif;
	text-shadow: 1px 1px 0 #fff;
}

p{	
	margin: 0 0 20px;
	color: #646464;
	font: 16px/22px helvetica, arial, sans-serif;
}

#contain ul{
	margin: 0;
	padding: 0 0 0 10px;
	color: #646464;
	font: 14px/20px helvetica, arial, sans-serif;
}
   
#contain ul li{
	margin: 0 0 7px;
}   
   
#contain strong{
	color: #285c95;
	text-shadow: 1px 1px 0 #fff;
}   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
