body {
    background-color: #3c516e;
}

a { 
    color: #3c516e;
}

a:hover {
    text-decoration: underline;
}

#menu {
    position: absolute;
    left: 0px;
    top: 20px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu ul li a {
    text-decoration: none;
    display: block;
    color: #3c516e;
}

#menu ul li:hover {
    background-color: #eeb938;
    color: #3c516e;
    border-left:3px solid #fff;
}

#menu ul li {
    margin-bottom: 4px;
    border-left:3px solid #eeb938;
    margin-left: 5px;
    padding-left: 4px;
    background-color: #eee;
    font-size:20px;
    letter-spacing:3px;
    line-height:1.25;
    text-transform:uppercase;
}

#footer {
   font-size: 12px;
   color: #eee;
   margin-top: 20px;
   bottom: 4px;
}
#footer a {
    color: #eeb938;
}

#container {
    height: 500px;
    background: #3c516e url('/images/dancer.png') no-repeat bottom left;
}

#content {
    background: #e8eaed url('/images/dancer-content-bg.png') no-repeat bottom right;
    border-left: 4px solid #fff;
    border-right: 6px solid #eeb938;
    color: #444;
    margin-left: 260px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 2em;
    min-height: 460px;
}

h1 { 
    letter-spacing: 4.5px;
    font-size:54px;
    letter-spacing:3px;
    line-height:1.25;
    margin: 0;
    font-family:'georgia','bitstream vera serif',serif; 
    color: #000;
}

h2 { 
    letter-spacing: 4.5px;
    font-size:20px;
    letter-spacing:3px;
    line-height:1.25;
    text-transform:uppercase;
    font-weight: normal;
    font-family: sans-serif;
    margin-top: 0;
    color: #3c516e;
    border-bottom: 1px solid #eeb938;
}

h3 { 
    letter-spacing: 4.5px;
    color: #3c516e;
    font-size:16px;
    letter-spacing:3px;
    line-height:1.25;
    text-transform:uppercase;
    font-family: sans-serif;
    margin-top: 0;
}
p {
    font-family:'georgia','bitstream vera serif',serif;
    font-size: 16px;
    margin-right: 10px;
    width: 700px;
}

code, pre { 
    font-size: 14px;
    font-family: "lucida console","monaco","andale mono","bitstream vera sans mono","consolas",monospace;
}
