/*---------------------------------------------------------------------------------------
	CSS RESET (SOFT)
---------------------------------------------------------------------------------------*/
	 body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
	 table { border-collapse:collapse; border-spacing:0; }
	 fieldset, img { border:0; }
	 h1, h2, h3, h4, h5, h6, address, caption { font-style:normal; font-size:100%; font-weight:normal; }
	 caption, th { text-align:left; }
	 ol.listreset, .listreset ol, ul.listreset, .listreset ul, .listreset li { margin:0; padding:0; list-style:none; }

pre, code, tt {
    font-size: 14px;
    color: #000;
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

pre.console {
    font-size: 14px;
    color: #eee;
	background-color: #001;
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
	padding: 1em;
	border: 1px solid #fff;
	margin-top: 1em;
	margin-bottom: 1em;

}


/*---------------------------------------------------------------------------------------
	COMMON DECLARATIONS
---------------------------------------------------------------------------------------*/
html,body{ background: #2a2a2a url(/images/dcr-bkg-body.jpg) 0 0 repeat-x;}
.clearme:after{ content: "."; display: block; visibility: hidden; clear: both; height: 0; font-size: 0.1em; line-height: 0;}
a{ text-decoration: none;}

body {
	color: #424242;
    font-family: 'Linux Libertine', Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif; 
	font-size: 16px;
}


/*---------------------------------------------------------------------------------------
	HEADER
---------------------------------------------------------------------------------------*/
#wrapper-header{
	background: url(/images/dcr-bkg-top.jpg) top center no-repeat;
}
	
	#header{
		position: relative;
	 	width: 974px;
	 	height: 394px;
	 	margin: auto;
	}
		
		/*---------------------------------------------------------------------------------------
			HEADER - TITLES
		---------------------------------------------------------------------------------------*/
		#header h1{
			position: absolute;
                        /* normal (non-Christmas):
			top: 75px;
			left: 311px;
                        */
                        /* Christmas: */
                        top: 35px;
                        left: 370px; 

			overflow: hidden;
		}
	
		#header h1,h1 a{
			/* normal (non-Christmas):
                        width: 351px;
			height: 246px;
                        */
                        /* Christmas: */
                        width: 300px;
                        height: 300px;
		}
		
		#header h1 a{
			display: block;
			text-indent: -9999px;
			/* background: url(/images/dcr-header-logo.png) 0 0 no-repeat; */
			background: url(/images/dcr-header-bauble.png) 0 0 no-repeat;
		}
		
		#header h2{
			position: absolute;
			top: 21px;
			left: 318px;
			width: 338px;
			height: 35px;
			background: url(/images/dcr-header-h2.png) 0 0 no-repeat;
			overflow: hidden;
			text-indent: -9999px;
		}
	
		/*---------------------------------------------------------------------------------------
			HEADER - NAVIGATION
		---------------------------------------------------------------------------------------*/
	 	#nav-left,#nav-right{
	 		position: absolute;
	 		top: 184px;
	 		height: 33px;
	 		background: url(/images/dcr-header-bkg-menu.png) 0 0 no-repeat;
	 	}
	 
	 	#nav-left li,#nav-right li{
	 		float: left;
	 		height: 33px;
	 		text-align: center;
	 	}
	 	
	 	#nav-left li.nav-sep,#nav-right li.nav-sep{
	 		width: 12px;
			background: url(/images/dcr-header-bkg-sepmenu.jpg) center center no-repeat;
	 	}
	 	
	 	#nav-left li a,#nav-right li a{
	 		display: block;
	 		height: 33px;
	 		margin: 0 8px;
	 		font: 15px/33px 'HelveticaNeueLTStd67MediumCon', helvetica, arial, sans-serif;
	 		color: #767676;
	 		letter-spacing: 0.02em;
	 		text-decoration: none;	
	 	}
	 	
	 	#nav-left li a:hover,#nav-right li a:hover{
	 		color: #333;
	 	}
	 
	 	/*---------------------------------------------------------------------------------------
			HEADER - NAVIGATION - LEFT
		---------------------------------------------------------------------------------------*/
	 	#nav-left{
	 		left: 0;
	 		width: 290px;
	 		padding: 0 0 0 10px;
	 	}
	 
	 	/*---------------------------------------------------------------------------------------
			HEADER - NAVIGATION - RIGHT
		---------------------------------------------------------------------------------------*/
	 	#nav-right{
	 		left: 674px;
	 		width: 280px;
	 		padding: 0 0 0 20px;	
	 	}	


/*---------------------------------------------------------------------------------------
	MAIN CONTAIN
---------------------------------------------------------------------------------------*/
#wrapper-contain{
	min-height: 630px;
	height:auto !important;
	height: 630px;
	padding: 45px 0 0;
	background: url(/images/dcr-bkg-bottom.jpg) top center no-repeat;
}

#contain-top{
	width: 960px;
	height: 30px;
	margin: auto;
	background: url(/images/dcr-contain-bkg-top.png) 0 0 repeat-y;
}

#contain-bottom{
	width: 960px;
	height: 50px;
	margin: auto;
	background: url(/images/dcr-contain-bkg-bottom.png) 0 0 repeat-y;
}

#contain{
	position: relative;
	width: 880px;
	padding: 0 40px;
	/*
min-height: 300px;
	height:auto !important;
	height: 300px;
*/
	margin: auto;
	background: url(/images/dcr-contain-bkg-middle.png) 0 0 repeat-y;
}



	/*---------------------------------------------------------------------------------------
		CONTAIN - LEFT
	---------------------------------------------------------------------------------------*/
	#contain-left{
		float: left;
		width: 308px;
		padding: 0 30px 0 0;
		border-right: 1px solid #ededed;
	}
	
	/*---------------------------------------------------------------------------------------
		CONTAIN - RIGHT
	---------------------------------------------------------------------------------------*/
	#contain-right{
		float: left;
		width: 510px;
		padding: 0 0 0 30px;
		border-left: 1px solid #b4b4b4;
	}
	
	/*---------------------------------------------------------------------------------------
		CONTAIN - RIGHT - DOUBLE CONTAIN
	---------------------------------------------------------------------------------------*/
	#contain .dbc{
		margin: 0 0 20px;
	}

	#contain .dbc li{
		float: left;
		width: 50%;
	}

	.txtXs span{
		display: block;
		padding: 0 0 0 5px;
		color: #333;
	}

h3{
	color: #285c95;
	font: 30px/45px 'HelveticaNeueLTStd67MediumCon', helvetica, arial, sans-serif;
	text-shadow: 1px 1px 0 #fff;
}

p{	
	margin: 0 0 20px;
}

#contain ul{
	margin: 0;
	padding: 0 0 0 10px;
}
   
#contain ul li{
	margin: 0 0 7px;
}   
   
#contain strong{
	color: #285c95;
	text-shadow: 1px 1px 0 #fff;
} 

#contain a#contain-download{
	display: block;
	width: 175px;
	height: 43px;
	margin: 4px 0 0;
	padding: 17px 8px 0 0;
	background: url(/images/dcr-contain-bkg-download.jpg) 0 0 no-repeat;
	color: #cae131;
	text-shadow: 1px 1px 0 #000;
	text-decoration: none;
	text-align: right;
}

#contain a#contain-download:hover{
	background: url("/images/dcr-contain-bkg-download-hover.jpg") 0 0 no-repeat;
} 

#contain a{
	color: #285c95; 
}

#contain a:hover{
	border-bottom: 1px dotted; 
}


/*---------------------------------------------------------------------------------------
 	FOOTER - COPYRIGHTS
 ---------------------------------------------------------------------------------------*/ 
#copyright{
	width: 700px;
	margin: auto;
	text-align: center;
	font: 12px/24px 'HelveticaNeueLTStd55Roman', helvetica, arial, sans-serif;
	color: #999;
	text-shadow: 1px 1px 0 #000;
}

#copyright a{
	color: #fff;
	text-decoration: none;
}

#copyright a:hover {
	border-bottom: 1px dotted #fff;
}
   
ul.spacy li {
    margin-bottom: 1em;
}
/*---------------------------------------------------------------------------------------
 	About Page - Github Contributors
 ---------------------------------------------------------------------------------------*/ 
/* The list of github contributors on the "about" page */
.github_gravatar {
	margin: 0 2px;
	padding: 4px;
	border: 1px solid #ccc;
	background-color: #efefef;
	cursor:hand;
	cursor:pointer;
}
.github_gravatar.gravatar_hover {
	border-color:#888;
}
/* The Github Information popup */
.github_info {
	position: absolute;
	display:none;
	width:350px;
	height:102px;
	border:#666 solid 1px;
	padding:6px;
	background: url('/images/dcr-contain-bkg-middle.png') -15px 0 repeat-y;
	box-shadow:rgba(0,0,0,0.7) 0px 0px 10px;
	-webkit-border-radius: 10px 10px 10px 0px;
	-moz-border-radius: 10px 10px 10px 0px;
	-o-border-radius: 10px 10px 10px 0px;
	border-radius: 10px 10px 10px 0px;
	z-index:100000;
}
.github_info .github_info_row {
	float:left;
	height:18px;
	margin-left:6px;
	margin-top:3px;
	margin-bottom:3px;
	width:300px;	
}
.github_info .github_info_row a {
	color: #285c95;
}
.github_info .github_info_row a:hover {
	text-decoration:underline;
}
.github_info .github_info_row .info_td1 {
	padding:3px;
	font-weight:bold;
	color: #285c95;
	font: 'HelveticaNeueLTStd67MediumCon', helvetica, arial, sans-serif;
	text-shadow: 1px 1px 0 #fff;
}
.github_info .github_info_row .info_td2 {
	padding:3px;
	font-style: italic;
}
.github_info_close_btt {
	position:absolute;
	top:5px; right:5px;
	width:15px; height:15px;
	background-color:#BBB;
	color:#666;
	border:#666 solid 2px;
	font-family:Monospace;
	font-weight:bold;
	padding-bottom:5px;
	padding-left:5px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	cursor:hand;
	cursor:pointer;
}
.github_info_close_btt_hover {
	background-color:#666;
	color:#BBB;
	border:#BBB solid 2px;
	box-shadow:#000 0px 0px 5px;
}

.dancefloor-site {
    float: left;
    width: 250px;
    height: 300px;
    border: 1px solid #008;
    padding: 10px;
    margin: 10px;
    overflow: auto;
}
.dancefloor-site IMG { margin: auto }
.dancefloor-site P>B { margin: auto }

